@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:root {
    --goldcolor: #c7750a;
    --navcolor: #FAF6F0;
    --navlinkcolor: #001B79;
    --lightgrey:#EEF5FF;
    --lightdark:#5e5656;
    --wheatcolor: wheat;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 80px;
    margin-bottom: 60px;
    background-color: var(--navcolor);
}

.logo {
    width: 15%;
    cursor: pointer;
}

.nav_bar .search_bar form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid var(--goldcolor);
    padding: 5px 10px;
}

.nav_bar .search_bar form input {
    width: 20em;
    height: 2em;
    background-color: transparent;
    border: none;
    outline: none;
}

.nav_bar .search_bar form input::placeholder {
    color: var(--lightdark);
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}

.nav_bar .search_bar form a {
    font-size: 16px;
    color: var(--navlinkcolor);
}

.nav_bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    /* padding: 0; */
}

.nav_bar ul li {
    border-bottom: 2px solid transparent;
    white-space: nowrap;
}

.nav_bar ul li:hover {
    color: var(--goldcolor);
    border-bottom: 2px solid var(--navlinkcolor);
    
}

.nav_bar ul a {
    color: var(--navlinkcolo);
}

.nav_contents .cart {
    position: relative;
}

.nav_contents .cart a{
    font-size: 22px;
}

.nav_contents .cart a:hover{
    color: var(--goldcolor);
    border-bottom: 2px solid var(--navlinkcolor);
}

.nav_contents .cart p {
    position: absolute;
    top: -35%;
    left: 40%;
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #FAF6F0;
    padding: 2px;
    text-align: center;
    font-size: 12px;
}

.toggle {
    display: none;
}

/* Screen sizes for nav-bar */

@media only screen and (max-width: 1100px) {
    nav {
        padding: 20px 60px;
    }

}


@media only screen and (max-width: 930px) {
    nav {
        padding: 20px 30px;
    }

    .nav_bar .search_bar form input {
        width: 15em;
    }

}


@media only screen and (max-width: 800px) {
    nav {
        padding: 20px 24px;
    }

    .nav_bar .search_bar form input {
        width: 12em;
    }
}


@media only screen and (max-width: 768px) {
    .nav_contents {
        display: none;
    }

    nav {
        position: relative;
        /* z-index: 1; */
    }

    .nav_items {
        flex-direction: column;
        position: absolute;
        padding: 20px 0;
        width: 50%;
        height: 20em;
        top: 100%;
        right: 0;
        border-radius: 3px;
        background-color: var(--lightgrey);
        color: var(--lightdark);
        transition: 0.3s ease-in-out;
        z-index: 1;
    }


    .nav_bar .search_bar {
        width: 35%;
    }

    .toggle {
        display: block;
    }

    .toggle .close_bar{
        display: none;
    }

    .toggle i{
        font-size: 28px;
        color: var(--navlinkcolor);
    }

    .logo {
        width: 20%;
    }

    .nav_bar .search_bar form input {
        width: 10em;
    }
}

@media only screen and (max-width: 600px) {
    .nav_bar .search_bar form input {
        width: 70%;
    }

    .nav_bar .search_bar form input::placeholder {
        font-size: 14px;
    }

}

@media only screen and (max-width: 580px) {
    .nav_bar .search_bar form input {
        width: 50%;
    }

    .logo {
        width: 24%;
    }


}

/* Home slider */

.home_background {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin: 0; */
    width: 100%;
    height: 20em;
    z-index: -1;
    word-wrap: break-word;
}

.home_background .slide {
    position: absolute;
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    visibility: hidden;
    /* right: 5%; */
    transition: right 1s ease-in-out;
    gap: 100px;

}

.home_background .active {
    /* right: 0; */
    visibility: visible;
}

.home-image-div {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.home-image-div img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home_background .home-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.home-image h4 {
    position: absolute;
    bottom: 30%;
    left: 0px;
    padding: 0 20px;
    /* margin-bottom: 10px; */
    color: var(--navcolor);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.home-image p {
    position: absolute;
    left: 20px;
    right: 40px;
    padding: 5px;
    bottom: 15px;
    width: 80%;
    max-height: 100%;
    border-radius: 4px;
    color: var(--wheatcolor);
    background-color: var(--lightdark);
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

.home_slider_small {
    display: none;
}


/* Screen sizes for home */

@media only screen and (max-width: 1100px) {
    .home_background .slide {
        gap: 40px;
        padding: 0 20px;
    }

}

@media only screen and (max-width: 900px) {
    .home_background .slide {
        gap: 30px;
    }

    .home-image h4 {
        font-size: 25px;
    }

}

@media only screen and (max-width: 780px) {
    .home_background {
        display: none;
    }

    nav {
        margin-bottom: 0;
    }

    .home_slider_small {
        position: relative;
        display: block;
        /* justify-content: center; */
        /* align-items: center; */
        width: 100%;
        height: 20em;
        border: none;
        visibility: hidden;
        transition: all 0.8s ease;
    }

    .home_slider_small .sm-active {
        visibility: visible;
    }

    .home_slider_small .home-image {
        position: absolute;
        width: 100%;
        height: 20em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home_slider_small .slide_1 {
        background-image: url("/static/images/cabinet_1.jpg");
    }

    .home_slider_small .slide_2 {
        background-image: url("/static/images/cabinet_2.jpg");
    }

    .home_slider_small .slide_3 {
        background-image: url("/static/images/cushion_1.jpg");
    }

    .home_slider_small .slide_4 {
        background-image: url("/static/images/cushion_2.jpg");
    }
}

@media only screen and (max-width: 480px) {
    .home-image p {
        bottom: 5%;
    }
}


/* footer section */
footer {
    background-color: var(--navcolor);
    margin-top: 60px;
}

footer .footer-section {
    width: 100%;
    height: 100%;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
}

footer .last {
    display: flex;
    flex-direction: column;

}

.footer-section img {
    width: 90%;
}

footer .last h4 {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

footer .last a {
    font-family: 'Ubuntu', sans-serif;
    color: var(--navlinkcolor);
    font-size: 16px;
    font-weight: 500;
}

footer .icons i {
    color: var(--navlinkcolor);
    font-size: 24px;
}

footer .icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

footer .icons i:hover {
    opacity: 0.8;
}

footer .last .icons {
    display: none;
}


/* Screen sizes for footer */

@media only screen and (max-width: 992px) {
    footer .footer-section {
        padding: 50px 60px;
    }
}

@media only screen and (max-width: 860px) {
    footer .footer-section {
        padding: 40px 30px;
        gap: 15px;
    }
}

@media only screen and (max-width: 785px) {
    footer .footer-section {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media only screen and (max-width: 600px) {
    footer .footer-section {
        grid-template-columns: repeat(2, 2fr);
    }

    .footer-section img {
        width: 80%;
    }

    footer .icons {
        display: none;
    }

    footer .last .icons {
        display: block;
        display: flex;
        gap: 20px;
    }
}

@media only screen and (max-width: 480px) {
    footer .footer-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-section img {
        width: 60%;
    }
}