@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
  margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}

:root {
    --goldcolor: #c7750a;
    --navcolor: #FAF6F0;
    --navlinkcolor: #001B79;
    --lightgrey:#EEF5FF;
    --lightdark:#5e5656;
}

.form_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_container .main {
  display: flex;
  justify-items: center;
  align-content: center;
  width: 60%;
  height: 100%;
}

.form_container .form-page {
  width: 100%;
  height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--lightgrey);
}

.form_container .form-page h2 {
  color: var(--goldcolor);
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.form_container .form-page .icons {
  width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* border: 1px red solid; */
}

.form_container .form-page .icons p {
  font-size: 16px;
  color: var(--navlinkcolor);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

.form_container .form-page .icons i {
  color:var(--navlinkcolor);
  font-size: 15px;
}

.form_container .form-page .icons span:hover i {
  color:var(--goldcolor);
  font-size: 15px;
}

.form_container .form-page .icons span {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 3em;
  height: 3em;
  border-radius: 50px;
  cursor: pointer;
}

.form_container .form-page .icons span:hover {
  background-color: var(--navcolor);
  color: white;
}

.form_container .form-page h6 {
  color: var(--navlinkcolor);
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  margin: 6px;
}

.form_container .form-page form {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.form_container .form-page form input {
  border: 1px var(--navlinkcolor) solid;
  padding: 10px;
  border-radius: 15px;
  outline: none;
}

.form_container .form-page form input::placeholder {
  color: var(--lightdark);
  font-family: 'Ubuntu', sans-serif;
}

.form_container .form-page form .submit {
  width: 50%;
  border: none;
  background-color: var(--goldcolor);
  color: var(--lightgrey);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.form_container .form-page form .submit:hover {
  opacity: 0.8;
}


.form_container .image-side {
  position: relative;
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/static/images/signup/signup-image_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form_container .image-side div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px white solid;
  width: 65%;
  height: 8em;
  gap: 20px;
  padding:  10px;
  border-radius: 10px;
  background-color: rgba(131, 126, 126, 0.301);
}

.form_container .image-side div p {
  font-size: 20px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

.form_container .image-side div span {
  color: white;
  border: 1px white solid;
  border-radius: 15px;
  padding: 10px 15px;
}

.form_container .image-side div span:hover {
  background-color:var(--navcolor);
}

.form_container .image-side div span:hover a {
  color: var(--navlinkcolor);
}

.form_container .image-side div span a {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 600;
}

.sign-btn {
  display: none;
}


/* Screen sizes for sign up */

@media only screen and (max-width: 1350px) {
  .form_container .image-side div {
    width: 70%;
  }

  .form_container .image-side div p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1150px) {
  .form_container .image-side div p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1066px) {
  .form_container .main {
    width: 70%;
  }
}

@media only screen and (max-width: 920px) {
  .form_container .main {
    width: 80%;
  }
}

@media only screen and (max-width: 870px) {
  .form_container .main {
    width: 85%;
  }

  .form_container .image-side div p {
    font-size: 16px;
  }
}
/* 
@media only screen and (max-width: 780px) {
  .form_container .main {
    margin-top: 60px;
  }
} */

@media only screen and (max-width: 768px) {
  .form_container .main {
    width: 90%;
  }
}

@media only screen and (max-width: 680px) {
  .form_container .main {
    width: 60%;
    flex-direction: column;
  }

  .form_container .image-side {
    display: none;
  }

  .sign-btn {
    display: block;
    color: var(--navlinkcolor);
    font-family: 'Ubuntu', sans-serif;
  }

  .form_container .form-page form a {
    color: var(--goldcolor);
    font-family: 'Ubuntu', sans-serif;
  }
}

@media only screen and (max-width: 600px) {
  .form_container .main {
    width: 70%;
  }
}

@media only screen and (max-width: 520px) {
  .form_container .main {
    width: 80%;
  }
}

@media only screen and (max-width: 420px) {
  .form_container .main {
    width: 90%;
  }
}