@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h6, h5, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:root {
    --goldcolor: #c7750a;
    --navcolor: #FAF6F0;
    --navlinkcolor: #001B79;
    --lightgrey:#EEF5FF;
    --lightdark:#5e5656;
    --wheatcolor: wheat;
}

.categories {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lightgrey);
}

.categories .heading {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.categories .heading h5, .categories .heading a {
    color: var(--goldcolor);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.categories .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.categories .items .product {
    width: 100%;
    height: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.categories .items .product div {
    width: 100%;
    height: 18em;
    overflow: hidden;
    cursor: pointer;
}

.categories .product h6 {
    background-color: var(--navlinkcolor);
    color: var(--lightgrey);
    font-size: 15px;
    border-radius: 4px;
    padding: 8px 12px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.categories .product h6:active {
    opacity: 0.9;
    transform: scale(0.98);
}

.categories .items .product .product_photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Screen sizes for Our collections */

@media only screen and (max-width: 992px) {
    .categories {
        padding: 40px 40px;
    }
}

@media only screen and (max-width: 850px) {
    .categories .items {
        grid-template-columns: repeat(3, 1fr);
    }    
}

@media only screen and (max-width: 630px) {
    .categories .items {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media only screen and (max-width: 480px) {
    .categories .items {
        grid-template-columns: repeat(1, 1fr);
    }    
}

/* All products  */

.all-products {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    padding: 0 60px;
}

.all-products h5:first-child {
    font-family: 'Roboto', sans-serif;
    color: var(--goldcolor);
}

.all-products .list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-top: 15px;
}

.all-products .list .picture {
    width: 100%;
    height: 14em;
    cursor: pointer;
    /* border: red 2px solid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.all-products .list .picture img{
    width: 100%;
    height: 14em;
}

.all-products .items {
    width: 100%;
    height: 22em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .all-products .items div:first-child {
    width: 100%;
    height: 20em;
    border-radius: 4px;
    overflow: hidden;
} */


.all-products .items .menu {
    width: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    background-color: var(--lightgrey);
}

.all-products .items .menu h6 {
    color: var(--navlinkcolor);
    font-family: 'Ubuntu', sans-serif;
}

.all-products .items .menu h5 {
    color: var(--navlinkcolor);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.all-products .items .menu .rating {
    display: flex;
    gap: 3px;
}

.all-products .items .menu .rating .checked {
    color: var(--goldcolor);
}

.all-products .items .menu .rating i {
    color: var(--lightdark);
}

.all-products .items .menu .carty {
    display: flex;
    background-color: var(--lightdark);
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.all-products .items .menu .carty:active {
    transform: scale(0.98);
}

.all-products .items .menu .carty p {
    color: white;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
}

.all-products .items .menu .carty i {
    color: var(--navcolor);
}


/* Screen sizes for All products section */

@media only screen and (max-width: 992px) {
    .all-products {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 850px) {
    .all-products .list {
        grid-template-columns: repeat(3, 1fr);
    }    
}

@media only screen and (max-width: 680px) {
    .all-products .list {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media only screen and (max-width: 500px) {
    .all-products .list {
        grid-template-columns: repeat(1, 1fr);
    }    
}