{% extends "layout.html" %}

{% block description_styles %}
<!-- description css -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/description.css') }}">
{% endblock %}

<!-- jqery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- layout.js script -->
<script defer src="{{ url_for('static', filename='scripts/description.js') }}"></script>

{% block description %}

<div class="product-description">
    <div class="list">
        <div class="product-image">
            <img src="{{ url_for('static', filename='images/products/' + product.product_images) }}" alt="">
        </div>
        <div class="main">
            <h3>{{ product.product_name }}</h3>
            <h4>${{ product.price }}</h4>
            <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <span>
                <h5>Color:</h5>
                <h6>{{ product.color }}</h6>
            </span>
            <div class="carty">
                <i class="fa-solid fa-cart-shopping"></i>
                <p>Add to cart</p>
            </div>
        </div>
    </div>
    <div class="description-text">
        <h4>Product Description</h4>
        <p>Introducing our luxurious Ashton Sofa – a blend of style and comfort. With its modern design and premium
            upholstery, this sofa transforms any space. Sink into plush cushions and enjoy unparalleled relaxation.
            Crafted with durability in mind, the Ashton Sofa is a statement piece that elevates your home's
            aesthetic.</p>
    </div>
</div>

<div class="review-section">
    <div class="main">
        <h3>Rating & Reviews</h3>
        <div class="list">
            <div class="number_of_rates">
                <h4>4.0</h4>
                <div class="rating">
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h5>100 reviews</h5>
            </div>

            <div class="rating_range">
                <div class="range">
                    <p>5</p>
                    <i class="fa-solid fa-star"></i>
                    <span class="display-range"><span class="display-range-2"></span></span>
                </div>
                <div class="range">
                    <p>4</p>
                    <i class="fa-solid fa-star"></i>
                    <span class="display-range"><span class="display-range-2"></span></span>
                </div>
                <div class="range">
                    <p>3</p>
                    <i class="fa-solid fa-star"></i>
                    <span class="display-range"><span class="display-range-2"></span></span>
                </div>
                <div class="range">
                    <p>2</p>
                    <i class="fa-solid fa-star"></i>
                    <span class="display-range"><span class="display-range-2"></span></span>
                </div>
                <div class="range">
                    <p>1</p>
                    <i class="fa-solid fa-star"></i>
                    <span class="display-range"><span class="display-range-2"></span></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-review">
    <div class="read-reviews">
        <h3>Read reviews</h3>
        <span></span>
        {% if review %}
        {% for review in review %}
        <div class="info">
            <img src="{{ url_for('static', filename='images/default-profile.jpg') }}" alt="">
            <div>
                <h4>{{ review.fullname }}</h4>
                <div class="rating">
                    <!-- <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star"></i> -->
                    {{ review.rating }}
                </div>
            </div>
        </div>
        <h5>Reviewed on {{ review.created_at.strftime('%B %d, %Y') }}</h5>
        <p>{{ review.review_text }}</p>
        {% endfor %}
        {% else %}
        <p>No review yet</p>
        {% endif %}
    </div>
    <div class="write-reviews">
        <h3>Review</h3>
        <form action="" method="POST">

            <div class="rating-icons">
                <h4>Your rating&nbsp;<span>*</span>:</h4>
                <!-- <div class="rating" data-rating="{{ form.rating.data }}">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div> -->
                {{ form.rating(class="form-control ") }}
            </div>
            <div class="write_sec">
                {{ form.hidden_tag() }}
                <label for="review-message">Your Review&nbsp;<span>*</span></label>
                <!-- <textarea id="review-message" name="review-message" placeholder="Write something.." required>{{ form.review_text }}</textarea> -->
                {{ form.review_text(class="form-control", placeholder="Write something") }}
                <div class="comment">
                    <div>
                        <!-- <label for="name">Name&nbsp;<span>*</span></label><br>
                        <input type="text" name="name"> -->
                        {{ form.fullname.label }}
                        {{ form.fullname(class="form-control ") }}
                    </div>
                    <div>
                        <!-- <label for="email">Email&nbsp;<span>*</span></label><br>
                        <input type="text" name="email"> -->
                        {{ form.email.label }}
                        {{ form.email(class="form-control ") }}
                    </div>
                </div>
                <!-- <input class="submit" type="submit" value="Submit"> -->
                {{ form.submit(class="submit", value="Submit") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}