{% extends "layout.html" %}

{% block home_styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/products.css') }}">
    <!-- {% for product in categories.products %}
    <style>
        .categories .items .product .product_photo {
        background-image: url("{{ url_for('static', filename='images/products/' + product.product_images)}}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
    {% endfor %} -->
{% endblock %}

{% block home %}
<section>
    <div class="home_background">
        <div class="slide main_slide home_slider_1 active">
            <div class="home-image">
                <h4>Luxury Collections</h4>
                <p>Indulge in opulence with our luxury furniture collections.</p>
                <div class="home-image-div"><img src="{{ url_for('static', filename='images/cabinet_1.jpg') }}" alt="cabinet-image"></div>
            </div>

            <div class="home-image">
                <h4>Compact Living Solutions</h4>
                <p>Smart solutions for small spaces without compromising style.</p>
                <div class="home-image-div"><img src="{{ url_for('static', filename='images/cabinet_2.jpg') }}" alt="cabinet-image"></div>
            </div>
        </div>

        <div class="slide main_slide home_slider_2">
            <div class="home-image">
                <h4>Eco-Friendly Options</h4>
                <p>Furniture that cares for your home and the planet.</p>
                <div class="home-image-div"><img src="{{ url_for('static', filename='images/cushion_2.jpg') }}" alt="cabinet-image"></div>
            </div>

            <div class="home-image">
                <h4>Customizable Furniture</h4>
                <p>Express your style with our customizable furniture options.</p>
                <div class="home-image-div"><img src="{{ url_for('static', filename='images/cushion_1.jpg') }}" alt="cushion-image"></div>
            </div>
        </div>
    </div>

    <div class="home_slider_small">
        <div class="home-image sm-slide slide_1 sm-active">
            <h4>Luxury Collections</h4>
            <p>Indulge in opulence with our luxury furniture collections.</p>
            <!-- <div class="home-image-div"><img src="/static/images/cabinet_1.jpg" alt="cabinet-image"></div> -->
        </div>

        <div class="home-image sm-slide slide_2">
            <h4>Compact Living Solutions</h4>
            <p>Smart solutions for small spaces without compromising style.</p>
            <!-- <div class="home-image-div"><img src="/static/images/cabinet_2.jpg" alt="cabinet-image"></div> -->
        </div>

        <div class="home-image sm-slide slide_3">
            <h4>Eco-Friendly Options</h4>
            <p>Furniture that cares for your home and the planet.</p>
            <!-- <div class="home-image-div"><img src="/static/images/cushion_2.jpg" alt="cabinet-image"></div> -->
        </div>

        <div class="home-image sm-slide slide_4">
            <h4>Customizable Furniture</h4>
            <p>Express your style with our customizable furniture options.</p>
            <!-- <div class="home-image-div"><img src="/static/images/cushion_1.jpg" alt="cushion-image"></div>> -->
        </div>
    </div>
</section>

<section>
    <div class="categories">
        <div class="heading">
            <h5>Our Collections</h5>
            <a href="">
                <h5>See All</h5>
            </a>
        </div>
        <div class="items">
            {% for category in categories %}
            <div class="product">
                {% if category.products %}
                <div class="product_photo" 
                style="background-image: url('{{ url_for('static', filename='images/products/' + category.products[0].product_images) }}')"></div>
                {% endif %}
                <h6>{{ category.category_name }}</h6>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="all-products">
        <h5>All Products</h5>
        <div class="list">
        {% for product in products %}
            <div class="items">
                <div class="picture">
                    <a href="{{ url_for('product', product_id=product.id) }}"><img src="{{ url_for('static', filename='images/products/' + product.product_images) }}" alt=""></a>                    
                </div>
                <div class="menu">
                    <a href="{{ url_for('product', product_id=product.id) }}">
                        <h5>{{ product.product_name }}</h5>
                    </a>
                    <div class="rating">
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h6>${{'%0.2f'|format(product.price|float) }}</h6>
                    <div class="carty">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <p>Add to cart</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock home %}