{% extends "layout.html" %}

{% block order_products_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/order_products.css') }}">
{% endblock %}

{% block order_products %}
<div class="order">
    <div class="order-section">
        <div class="heading">
            <h2>Your Order</h2>
            <h2>Cancelled Order</h2>
        </div>
        <div class="list">
            <div class="product-image"></div>
            <div class="main">
                <h3>Armless Chair</h3>
                <h4>$150.00</h4>
                <span>
                    <h5>Color:</h5>
                    <h6>White</h6>
                </span>
            </div>
        </div>
        <div class="processs">
            <div class="order-progress">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="order-progress-info">
                <p>Processing</p>
                <p>Delivered</p>
                <p>Completed</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}