<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- description css -->
    <link rel="stylesheet" href="/static/styles/shopping_cart.css">
    
    <title>Shopping_cart</title>
</head>
<body>
    <div class="shopping_cart">
        <div class="shopping_cart-section">
            <div class="heading">
                <h2>Shopping Cart</h2>
            </div>
            <div class="list">
                <div class="product-image"></div>
                <div class="main">
                    <h3>Armless Chair</h3>
                    <h4>$150.00</h4>
                    <span>
                        <h5>Color:</h5>
                        <h6>White</h6>
                    </span>
                </div>
            </div>
            <div class="processs">
               <h4>Qty:&nbsp;<span>1</span></h4>
               <span class="delete"><a href="">Delete</a></span>
               <button>Pay Now</button>
            </div>
        </div>
    </div>
</body>
</html>