{% extends "layout.html" %}

{% block shopping_cart_js %}
    <!-- shopping_cart.js script -->
    <script defer src="{{ url_for('static', filename='scripts/shopping_cart.js') }}"></script>
{% endblock %}

{% block shopping_cart_style %}
    <!-- shopping_cart css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/shopping_cart.css') }}">
{% endblock %}

{% block shopping_cart %}

    <div class="shopping_cart">
        <div class="shopping_cart-section">
            <div class="heading">
                <h2>Shopping Cart</h2>
            </div>
            <div class="list">
                <div class="product-image ">
                </div>
                <div class="main">
                    <h3>Armless Chair</h3>
                    <h4>$150.00</h4>
                    <span>
                        <h5>Color:</h5>
                        <h6>White</h6>
                    </span>
                </div>
            </div>
            <form class="processs" action="" method="POST">
                {{ form.hidden_tag() }}
               <h4>Qty:</h4>
                <!-- <input type="number"> -->
                {{ form.quantity() }}
                <h4><span class="total">Total:</span> 100</h4>
               <span class="delete"><a href="">Delete</a></span>
               <button id="btn">Pay Now</button>
            </form>
        </div>
    </div>
{% endblock %}