{% extends "layout.html" %}

{% block signup_styles %}
    <!-- Sign up css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signup.css') }}">
{% endblock %}

{% block signup %}
<div class="form_container">
    <div class="main">
        <div class="form-page">
            <h2>Sign Up</h2>
            <div class="icons">
                <p>Use</p>
                <span><a href=""><i class="fa-brands fa-facebook-f"></i></a></span>
                <span><a href=""><i class="fa-brands fa-linkedin-in"></i></a></span>
                <span><a href=""><i class="fa-brands fa-google"></i></a></span>
            </div>
            <h6>or enter your</h6>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <!-- <input type="text" id="name" name="name" placeholder="Full Name">
                    <input type="email" id="email" name="email" placeholder="Email">
                    <input type="text" id="phone" name="phone" placeholder="Phone Number">
                    <input type="password" id="password" name="password" placeholder="Password">
                    <input type="password" id="password-confirm" name="password-confirm" placeholder="Confirm Password">
                    <input type="submit" class="submit" value="SIGN UP">
                    <p class="login-btn">Already have an account? &nbsp;<a href="">Login</a></p> -->

                {{ form.fullname(placeholder="Full Name", class="form-control") }}
                
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(placeholder="Email", class="form-control") }}
                {% endif %}

                {% if form.phone_number.errors %}
                    {{ form.phone_number(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone_number.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.phone_number(placeholder="Phone Number", class="form-control") }}
                {% endif %}
                
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(placeholder="Password", class="form-control") }}
                {% endif %}

                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(placeholder="Confirm Password", class="form-control") }}
                {% endif %}

                {{ form.submit(class="submit") }}

                <p class="login-btn">Already have an account? &nbsp;<a href="{{ url_for('login') }}">Login</a></p>


            </form>
        </div>
        <div class="image-side">
            <div>
                <p>Already have an account?</p>
                <span><a href="{{ url_for('login') }}">LOGIN</a></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
