{% extends "layout.html" %}

{% block upload_products_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/upload_products.css') }}">
{% endblock %}

{% block upload_products %}
<div class="upload-container">
    <h2>Upload Product</h2>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.product_name.label }}
            {{ form.product_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.product_desc.label }}
            {{ form.product_desc(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.price.label }}
            {{ form.price(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.color.label }}
            {{ form.color(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.category.label }}
            {{ form.category(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.product_image.label }}
            {{ form.product_image(class="form-control") }}
        </div>

        {{ form.submit(class="submit btn btn-primary") }}
    </form>
</div>

{% endblock %}