@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
}

:root {
    --goldcolor: #c7750a;
    --navcolor: #FAF6F0;
    --navlinkcolor: #001B79;
    --lightgrey:#EEF5FF;
    --lightdark:#5e5656;
    --wheatcolor: wheat;
}

nav {
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    margin-bottom: 60px;
    background-color: var(--navcolor);
}

.logo {
    width: 15%;
}

.nav_bar .search_bar form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid var(--goldcolor);
    padding: 5px 10px;
}

.nav_bar .search_bar form input {
    width: 20em;
    height: 2em;
    background-color: transparent;
    border: none;
    outline: none;
}

.nav_bar .search_bar form input::placeholder {
    color: var(--lightdark);
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}

.nav_bar .search_bar form a {
    font-size: 16px;
    color: var(--navlinkcolor);
}

.nav_bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    /* padding: 0; */
}

.nav_bar ul li {
    border-bottom: 2px solid transparent;
    white-space: nowrap;
}

.nav_bar ul li:hover {
    color: var(--goldcolor);
    border-bottom: 2px solid var(--navlinkcolor);
    
}

.nav_bar ul a {
    color: var(--navlinkcolo);
}

.cart {
    position: relative;
}

.cart a{
    font-size: 22px;
}

.cart a:hover{
    color: var(--goldcolor);
    border-bottom: 2px solid var(--navlinkcolor);
}

.cart p {
    position: absolute;
    top: -35%;
    left: 40%;
    background-color: red;
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    color: #FAF6F0;
    padding: 2px;
    text-align: center;
    font-size: 12px;
}

.toggle {
    display: none;
}

/* Screen sizes for nav-bar */

@media only screen and (max-width: 1100px) {
    nav {
        padding: 20px 60px;
    }

}


@media only screen and (max-width: 930px) {
    nav {
        padding: 20px 30px;
    }

    .nav_bar .search_bar form input {
        width: 15em;
    }

}


@media only screen and (max-width: 800px) {
    nav {
        padding: 20px 24px;
    }

    .nav_bar .search_bar form input {
        width: 12em;
    }
}


@media only screen and (max-width: 700px) {
    .nav_contents {
        display: none;
    }

    .nav_items {
        flex-direction: column;
        position: absolute;
        padding: 20px 0;
        width: 40%;
        height: 32%;
        top: 11.2%;
        right: 0;
        border-radius: 3px;
        background-color: var(--lightgrey);
        color: var(--lightdark);
        transition: 0.3s ease-in-out;
    }


    .nav_bar .search_bar {
        width: 35%;
    }

    .toggle {
        display: block;
    }

    .toggle .close_bar{
        display: none;
    }

    .toggle i{
        font-size: 28px;
        color: var(--navlinkcolor);
    }

    .logo {
        width: 20%;
    }

    .nav_bar .search_bar form input {
        width: 10em;
    }
}

@media only screen and (max-width: 600px) {
    .nav_bar .search_bar form input {
        width: 70%;
    }

    .nav_bar .search_bar form input::placeholder {
        font-size: 12px;
    }
}

@media only screen and (max-width: 580px) {
    .nav_bar .search_bar form input {
        width: 60%;
    }

    .logo {
        width: 22%;
    }
}

@media only screen and (max-width: 400px) {
    .nav_bar .search_bar {
        width: 55%;
    }
}


/* Home slider */

.home_background {
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* align-content: center; */
    margin: 0 auto;
    width: 100%;
    height: 20em;
    z-index: -1;
    word-wrap: break-word;
}

.home_background .slide {
    position: absolute;
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    visibility: hidden;
    /* right: 5%; */
    transition: right 1s ease-in-out;
    gap: 100px;

}

.home_background .active {
    /* right: 0; */
    visibility: visible;
}

.home-image-div {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.home-image-div img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home_background .home-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.home-image h4 {
    position: absolute;
    bottom: 30%;
    left: 0px;
    padding: 0 20px;
    /* margin-bottom: 10px; */
    color: var(--navcolor);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.home-image p {
    position: absolute;
    bottom: 15%;
    left: 20px;
    right: 40px;
    padding: 5px;
    margin-top: 10px;
    width: 80%;
    border-radius: 4px;
    color: var(--wheatcolor);
    background-color: var(--lightdark);
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

.home_background .home_slider_small {
    display: none;
}


/* Screen sizes for home */

@media only screen and (max-width: 1100px) {
    .home_background .slide {
        gap: 40px;
        padding: 0 20px;
    }

}

@media only screen and (max-width: 900px) {
    .home_background .slide {
        gap: 30px;
    }

}

@media only screen and (max-width: 780px) {
    .home_background .slide {
        gap: 30px;
    }

    .home_background .main_slide{
        display: none;
    }

    nav {
        margin-bottom: 0;
    }

    .home_background .home_slider_small {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20em;
        border: none;
    }

    .home_background .home_slider_small .home-image {
        position: absolute;
        width: 100%;
        height: 20em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home_background .home_slider_small .slide_1 {
        background-image: url("/static/images/cabinet_1.jpg");
    }

    .home_background .home_slider_small .slide_2 {
        background-image: url("/static/images/cabinet_2.jpg");
    }

    .home_background .home_slider_small .slide_3 {
        background-image: url("/static/images/cushion_1.jpg");
    }

    .home_background .home_slider_small .slide_4 {
        background-image: url("/static/images/cushion_2.jpg");
    }
}

@media only screen and (max-width: 480px) {
    .home-image p {
        bottom: 5%;
    }
}