<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- description css -->
    <link rel="stylesheet" href="/static/styles/description.css">

    <title>description</title>
</head>

<body>
    <div class="product-description">
        <div class="list">
            <div class="product-image"></div>
            <div class="main">
                <h3>Armless Chair</h3>
                <h4>$150.00</h4>
                <div class="rating">
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <span>
                    <h5>Color:</h5>
                    <h6>White</h6>
                </span>
                <div class="carty">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Add to cart</p>
                </div>
            </div>
        </div>
        <div class="description-text">
            <h4>Product Description</h4>
            <p>Introducing our luxurious Ashton Sofa – a blend of style and comfort. With its modern design and premium
                upholstery, this sofa transforms any space. Sink into plush cushions and enjoy unparalleled relaxation.
                Crafted with durability in mind, the Ashton Sofa is a statement piece that elevates your home's
                aesthetic.</p>
        </div>
    </div>

    <div class="review-section">
        <div class="main">
            <h3>Rating & Reviews</h3>
            <div class="list">
                <div class="number_of_rates">
                    <h4>4.0</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h5>100 reviews</h5>
                </div>

                <div class="rating_range">
                    <div class="range">
                        <p>5</p>
                        <i class="fa-solid fa-star"></i>
                        <span class="display-range"><span class="display-range-2"></span></span>
                    </div>
                    <div class="range">
                        <p>4</p>
                        <i class="fa-solid fa-star"></i>
                        <span class="display-range"><span class="display-range-2"></span></span>
                    </div>
                    <div class="range">
                        <p>3</p>
                        <i class="fa-solid fa-star"></i>
                        <span class="display-range"><span class="display-range-2"></span></span>
                    </div>
                    <div class="range">
                        <p>2</p>
                        <i class="fa-solid fa-star"></i>
                        <span class="display-range"><span class="display-range-2"></span></span>
                    </div>
                    <div class="range">
                        <p>1</p>
                        <i class="fa-solid fa-star"></i>
                        <span class="display-range"><span class="display-range-2"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="read-reviews">
        <h3>Read reviews</h3>
        <span></span>
        <div class="info">
            <img src="/static/images/default-profile.jpg" alt="">
            <div>
                <h4>Bunje Kelly</h4>
                <div class="rating">
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star checked"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
        </div>
        <h5>Reviewed on November 23, 2023</h5>
        <p>Absolutely thrilled with my new sofa! The elegant design enhances my living space. It's incredibly
            comfortable and the quality is superb. A perfect addition to my home decor.</p>
    </div>
</body>

</html>