<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- jqery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- layout.js script -->
    <script defer src="/static/scripts/layout.js"></script>
    <!-- favicon -->
    <link rel="icon" href="/static/images/luxefurnix favicon.png">
    <!-- layout css -->
    <link rel="stylesheet" href="/static/layout.css">

    <title>Luxefurnix</title>
</head>

<body>
    <nav>
        <div class="nav_bar">
            <img class="logo" src="/static/images/luxefurnix logo.png" alt="Luxefurnix_logo">
            <div class="search_bar">
                <form action="">
                    <input type="text" placeholder="Search products">
                    <a type="submit" href="/"><i class="fa-solid fa-magnifying-glass"></i></a>
                </form>
            </div>
            <div class="nav_contents">
                <ul class="nav_items">
                    <li><a href="">Home</a></li>
                    <li><a href="">Order</a></li>
                    <div class="cart">
                        <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                        <p>1</p>
                    </div>
                    <li><a href="">Sell</a></li>
                    <li><a href="">Sign In</a></li>
                </ul>
            </div>
            <div class="toggle">
                <i class="fa-solid fa-bars open_bar"></i>
                <i class="fa-solid fa-rectangle-xmark close_bar"></i>
            </div>
        </div>
    </nav>

    <section>
        <div class="home_background">
            <div class="slide main_slide home_slider_1 active">
                <div class="home-image slide_1">
                    <h4>Luxury Collections</h4>
                    <p>Indulge in opulence with our luxury furniture collections.</p>
                    <div class="home-image-div"><img src="/static/images/cabinet_1.jpg" alt="cabinet-image"></div>
                </div>

                <div class="home-image slide_2">
                    <h4>Compact Living Solutions</h4>
                    <p>Smart solutions for small spaces without compromising style.</p>
                    <div class="home-image-div"><img src="/static/images/cabinet_2.jpg" alt="cabinet-image"></div>
                </div>
            </div>

            <div class="slide main_slide home_slider_2">
                <div class="home-image slide_3">
                    <h4>Eco-Friendly Options</h4>
                    <p>Furniture that cares for your home and the planet.</p>
                    <div class="home-image-div"><img src="/static/images/cushion_2.jpg" alt="cabinet-image"></div>
                </div>

                <div class="home-image slide_4">
                    <h4>Customizable Furniture</h4>
                    <p>Express your style with our customizable furniture options.</p>
                    <div class="home-image-div"><img src="/static/images/cushion_1.jpg" alt="cushion-image"></div>
                </div>
            </div>

            <div class="home_slider_small">
                <div class="home-image slide slide_1 active">
                    <h4>Luxury Collections</h4>
                    <p>Indulge in opulence with our luxury furniture collections.</p>
                    <!-- <div class="home-image-div"><img src="/static/images/cabinet_1.jpg" alt="cabinet-image"></div> -->
                </div>

                <div class="home-image slide slide_2">
                    <h4>Compact Living Solutions</h4>
                    <p>Smart solutions for small spaces without compromising style.</p>
                    <!-- <div class="home-image-div"><img src="/static/images/cabinet_2.jpg" alt="cabinet-image"></div> -->
                </div>

                <div class="home-image slide slide_3">
                    <h4>Eco-Friendly Options</h4>
                    <p>Furniture that cares for your home and the planet.</p>
                    <!-- <div class="home-image-div"><img src="/static/images/cushion_2.jpg" alt="cabinet-image"></div> -->
                </div>

                <div class="home-image slide slide_4">
                    <h4>Customizable Furniture</h4>
                    <p>Express your style with our customizable furniture options.</p>
                    <!-- <div class="home-image-div"><img src="/static/images/cushion_1.jpg" alt="cushion-image"></div> -->
                </div>
            </div>

        </div>
    </section>

    <footer id="foo">
        <p></p>
    </footer>

    <!-- Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>