<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/login.css">
    <title>Log In</title>
</head>
<body>
    <div class="container">
        <div class="image-side">
            <img src="/static/images/login_image.jpg" alt="Sample Furniture">
        </div>
        <div class="form-side">
            <h2 class="login-header">LOG IN</h2>
            <form>
                <input type="email" id="login-email" name="email" placeholder="Email">
                <input type="password" id="login-password" name="password" placeholder="Password">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
                <input type="submit" value="LOG IN ">
            </form>
            <p>Don't have an account? <a href="#">Sign Up</a></p>
        </div>
    </div>
</body>
</html>