@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h6, h5, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:root {
    --goldcolor: #c7750a;
    --navcolor: #FAF6F0;
    --navlinkcolor: #001B79;
    --lightgrey:#EEF5FF;
    --lightdark:#5e5656;
    --wheatcolor: wheat;
}

.product-description {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-description .list {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.product-description .list .product-image {
    width: 100%;
    height: 28em;
    background-image: url("/static/images/Cushion/Cushion_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-description .list .main {
    width: 60%;
    height: 28em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-top: 2px solid var(--navlinkcolor);
    border-right: 2px solid var(--navlinkcolor);
    border-bottom: 2px solid var(--navlinkcolor);
}

.product-description .list .main h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: var(--goldcolor);
}

.product-description .list .main h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: var(--navlinkcolor);
}

.product-description .list .main span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-description .list .main span h5 {
    color: var(--navlinkcolor);
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.product-description .list .main span h6 {
    color: var(--goldcolor);
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.product-description .list .main .rating {
    display: flex;
    gap: 8px;
}

.checked {
    color: var(--goldcolor);
}

.product-description .main .carty {
    display: flex;
    background-color: var(--lightdark);
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
}

.product-description .main .carty i {
    color: white;
}

.product-description .main .carty p {
    color: white;
    font-family: 'Ubuntu', sans-serif;

}

.product-description .main .carty:hover {
    background-color: var(--navcolor);
    border: 2px solid var(--lightdark);
}

.product-description .main .carty:hover i, .product-description .main .carty:hover p {
    color: var(--navlinkcolor);
}


/* screen sizes for product-description */


/* description-text */

.product-description .description-text {
    width: 60%;
    margin-top: 40px;
}

.product-description .description-text h4 {
    color: var(--navlinkcolor);
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.product-description .description-text p {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.review-section {
    width: 100%;
    height: 100%;
    margin: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-section .main {
    width: 60%;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px blue solid;
    padding: 20px 0;
}

.review-section .main h3 {
    color: var(--navlinkcolor);
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid var(--goldcolor);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.review-section .main .list {
    width: 100%;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-section .main .list .number_of_rates {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-right: 2px solid var(--goldcolor);
}

.review-section .main .list .number_of_rates h4 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--lightdark);
}

.review-section .main .list .number_of_rates i {
    font-size: 22px;
}

.review-section .main .list .number_of_rates h5 {
    font-size: 18px;
    color: var(--navlinkcolor);
    font-family: 'Roboto', sans-serif;

}

.review-section .main .list .rating_range {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.review-section .main .list .rating_range .range {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.review-section .main .list .rating_range .range p {
    color: var(--navlinkcolor);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.review-section .main .list .rating_range .range i {
    color: var(--goldcolor);
}

.review-section .main .list .rating_range .range .display-range {
    width: 12em;
    height: 100%;
    position: relative;
    background-color: var(--lightgrey);
    border: 1px solid var(--lightdark);
}

.review-section .main .list .rating_range .range .display-range .display-range-2 {
    width: 8em;
    height: 100%;
    position: absolute;
    background-color: var(--lightdark);
}


/* screen sizes for review-section */



/* read-reviews section */

.read-reviews {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lightgrey);
    padding: 60px;
    margin-bottom: 60px;
    gap: 20px;
}

.read-reviews h3 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: var(--goldcolor);
}

.read-reviews span {
    border-bottom:2px solid var(--navlinkcolor);
    width: 60%;
}

.read-reviews .info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.read-reviews .info img {
    width: 6%;
    height: 6%;
    border-radius: 50%;
}

.read-reviews .info h4 {
    color: var(--navlinkcolor);
    font-size: 20px;
    margin-bottom: 12px;
    font-family: 'Ubuntu', sans-serif;
}

.read-reviews .info .rating i {
    font-size: 16px;
}

.read-reviews h5 {
    font-size: 14px;
    color: var(--goldcolor);
    font-family: 'Ubuntu', sans-serif;
}

.read-reviews p {
    width: 60%;
    font-family: 'Roboto', sans-serif;
    color: black;
}